<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>EDIT</h1>
    <form action="/guests/{{id}}?_method=PUT" method="post">
        <label for="subject">
            subject: <input type="text" name="name" id="name" value="{{name}}">
          </label>
          <label for="content">
            content: <input type="text" name="email" id="email" value="{{email}}">
          </label>
          <button type="submit">SUBMIT</button>
      </form>
</body>
</html>